{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block body %}

<h1 style="text-align:center;color:teal;margin-bottom:25px">About Us</h1>
<div>
<!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <p style="margin-left:10px;">
          MyCart does not just sell lifestyle products, MyCart is here to become a lifestyle!
          Be it simple, casual or luxurious; trendy, unique or traditional, MyCart presents you all. Daily lives,
          occasions, needs and necessities, celebrations, desires and wish lists – MyCart checks it all off.
          We believe life is not made up of days but each day is a realm of life,
          where every second is a different color and every color represents MyCart!
          Our prime focus is the youth, referred colloquially as the “MyCart generation” and we are here to be a part of their lives,
          not just by selling the brands which rest under their hood but also by writing a part of their daily life stories.
          MyCart is that little spark of fun springing out of a droning afternoon,
          that unconscious twist of hair made while losing yourself in thoughts of wonderland,
          rocking the floor with confidence being no one but yourself or the three sips of tea turning into a moment of
          a lifetime with the right people – it is all MyCart.
        </p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <ul class="list-unstyled">
          <li >
            <a href="about" ><img src="{%static 'shop/img/aboutUs.jpg'%}" width="600" height="400"></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
</div>

{% endblock %}