{% load static %}
{% load common %}
<!-- product carousel -->
<html>
<link rel="stylesheet" href="{%static 'shop/css/basic_product_carousel.css' %}">

<container id="wasted"  >
{% for j in product %}
  <a href="supercategory?val={{j.0}}" style="text-decoration:none"><h1 style="color:teal; margin:2rem;text-align:center;">{{j.0}}</h1></a>
  <div id="demo{{forloop.counter}}" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

      {% for i in j.2 %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
      {% endfor %}

    </ul>

    <div class="Container carousel-inner no-padding " style="margin-bottom:50px;">
      <div class="carousel-item aln active carousel_gap"  style="margin-left:.2rem">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card wow"  style="width: 15rem;margin-left: 2rem;margin-right: 2rem;margin-bottom:2rem;">
            <div><img src='/media/{{j.1.0.product_image}}' style="height:10rem;width:10rem;" class="card-img-top" alt="..."></div>
            <div class="card-body">
              <div style="text-align:center;font-weight: bold;"><h6 class="card-title">{{j.1.0.product_name|slice:":20"}}..</h6></div>
              <div><h6 style="text-align:center;color:red;">Price: {{j.1.0.product_price}}</h6></div>
              <div style="height:2rem;"><p class="card-text">{{j.1.0.product_description|slice:":30"}}..</p></div>
            </div>
            <a href="productView?val={{j.1.0.id}}" target="_blank" class="btn btn-primary">More...</a>
          </div>
        </div>

        {% for i in j.1|slice:"1:"%}
        <div class="col-xs-3 col-sm-3 col-md-3" >
          <div class="card wow" style="width: 15rem;margin-left: 2rem;margin-right: 2rem;margin-bottom:2rem;">
            <div><img src='/media/{{i.product_image}}'style="height:10rem;width:10rem;" class="card-img-top" alt="..."></div>
            <div class="card-body">
              <div style="text-align:center;font-weight: bold;"><h6 class="card-title">{{i.product_name|slice:":20"}}..</h6></div>
              <div><h6 style="text-align:center;color:red;">Price: {{i.product_price}}</h6></div>
              <div style="height:2rem;"><p class="card-text">{{i.product_description|slice:":30"}}..</p></div>
            </div>
              <a href="productView?val={{i.id}}" target="_blank"  class="btn btn-primary">More...</a>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %} 
      </div>
      <div class="carousel-item">
      {% endif %}
      {% endfor %}
    </div>
    </div>
    <!-- start -->


 


  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
</div>

{% endfor %}
</container>

</html>