{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Category {% endblock %}
{% block body %}
{% if empty == 0 %}
<h1 style="text-align:center;color:teal;">{{category}}</h1>
<div class="row">
{% for i in data %}
        <div class="col-xs-3 col-sm-3 col-md-3 mt-3">
          <div class="card wow" style="width: 18rem;">
            <img src='/media/{{i.product_image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <div style="height:70px;"><h5 class="card-title" style="text-align:center">{{i.product_name|slice:":30"}}</h5></div>
              <h5 class="card-text" style="color:red!important;text-align:center">Price: {{i.product_price}}</h5>
              <div style="height:120px;"><p class="card-text">{{i.product_description|slice:":100"}}...</p></div>
            </div>
            <a href="productView?val={{i.id}}" target="_blank" class="btn btn-primary">More...</a>
          </div>
        </div>
{% endfor %}
    </div>
{% else %}
<br><br><br><br><br><br><br><br><br>
<h1 style="color:red;text-align:center">Sorry! The product you are searching for is not available!</h1>
<br><br><br><br><br><br><br><br><br>
{% endif %}
{% endblock %}