{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block body %}


<h1 style="text-align:center;color:teal;margin-bottom:25px">Contact Us</h1>
<div>
<!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->

          <h3 style="text-align:center;color:#706607">Dhaka Office </h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Mirpur 1,Dhaka
            <br>Bangladesh
            <br>+0823982935
            <br>mycartdhaka@gmail.com
          </p>
          <h3 style="text-align:center;color:#706607"><br>Khulna Office </h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Rupsha, Khulna
            <br>Bangladesh
            <br>+0823982936
            <br>mycartkhulna@gmail.com
        </p>
      </div>
        <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->

          <h3 style="text-align:center;color:#706607">Sylhet Office </h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Madina Market,Sylhet
            <br>Bangladesh
            <br>+0823982939
            <br>mycartsylhet@gmail.com
          </p>
          <h3 style="text-align:center;color:#706607"><br>Bagerhat Office </h3>
          <p style="margin-left:10px;text-align:center;color:#990d0b">
            Bashabati, Bagerhat
            <br>Bangladesh
            <br>+0823982938
            <br>mycartbagerhat@gmail.com
        </p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <!-- Links -->
        <ul class="list-unstyled">
          <li >
            <a href="contact" ><img src="{%static 'shop/img/contactUs.jpg'%}" width="650" height="350"></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
</div>


{% endblock %}